<div class="container">
  <h3>{{ title }} 
  <a routerLink="/view-employee" routerLinkActive="active-link">
    <small>View Employee</small></a>
  <a routerLink="/edit-employee" routerLinkActive="active-link">
    <small>Edit Employee</small></a>
  <a routerLink="/edit-employee-template-driven" routerLinkActive="active-link">
    <small>Edit Employee - Template</small></a>
  <a routerLink="/quantity-increment" routerLinkActive="active-link">
    <small>Quantity Increment</small></a>
  </h3>
  <hr>
  <router-outlet></router-outlet>
</div>
