<div class="container">
  <h2>{{ title }}</h2>
  <a routerLink="/view-employee" routerLinkActive="active-link">View Employee</a>
  <a routerLink="/edit-employee" routerLinkActive="active-link">Edit Employee</a>
  <a routerLink="/edit-employee-template-driven" routerLinkActive="active-link">Edit Employee - Template</a>
  <a routerLink="/edit-employee-reactive" routerLinkActive="active-link">Edit Employee - Reactive</a>
  <a routerLink="/edit-employee-form-builder" routerLinkActive="active-link">Edit Employee - Form Builder</a>
  <a routerLink="/quantity-increment" routerLinkActive="active-link">Quantity Increment</a>
  <hr>
  <router-outlet></router-outlet>
</div>
